bin/
docs/
data/car.data
data/contact-lenses.data
data/iris.data
data/car_training.data
data/weather.data
src/compile.bash
src/makefile
src/test
src/*.o
src/*.swp
# eclipse project specific settings
.settings/
.cproject
.project
/Debug/
# Visual Studio specific settings
.vs/
DecisionTrees.VC.db
DecisionTrees.vcxproj.filters
DecisionTrees.vcxproj.user
DecisionTrees.VC.VC.opendb
DecisionTrees.sln
DecisionTrees.vcxproj
Release/
x64/
#Xcode - worst of all!!!
DecisionTrees/
DecisionTrees.xcodeproj/
DecisionTrees/DecisionTrees.xcodeproj/project.pbxproj
DecisionTrees/DecisionTrees.xcodeproj/project.xcworkspace/contents.xcworkspacedata
DecisionTrees/DecisionTrees.xcodeproj/project.xcworkspace/xcuserdata/jcarcamo.xcuserdatad/UserInterfaceState.xcuserstate
DecisionTrees/DecisionTrees/main.cpp
#Third-party-libs
vendor/
